{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
	<title>Тортики</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<main>
	<div class="container mt-header">
		<aside class="modal fade" id="RegModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RegModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content px-4 cake__modal">
					<div class="modal-header border-0 pb-0 pt-4">
						<button @click="Reset" type="button" class="btn-close border rounded-pill" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-header border-0 py-0">
						<label for="reg" class="modal-title font_Gogh fs_40 cake_blue" id="RegModalLabel"><a href="{% url 'login' %}">Вход</a> / <a href="{% url 'register' %}">Регистрация</a></label>
					</div>

				</div>
			</div>
		</aside>

		<article class="row pt-header d-flex justify-content-center" id="step2">
			<h2 class="font_Gogh fs_40 cake_blue text-center mb-3">Готовые торты</h2>
			<div class="container">
				{% for page_column in page_columns %}
					<div class="row">
						{% for cake_card in page_column %}
							<div class="col">
								<div class="card mb-3" style="max-width: 540px">
									<div class="row no-gutters">
										<div class="col-md-4">
											<img src="media/{{ cake_card.image|urlencode }}"  class="card-img" alt="фото торта {{ cake_card.name }}">
<!--									<img src="../{{ cake_card.image|urlencode }}" class="card-img" alt="фото торта {{ cake_card.name }}">-->
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h5 class="card-title">{{ cake_card.name }}</h5>
												<p class="card-text">{{ cake_card.price }}</p>
												<p><span class="badge badge-light">{{ cake_card.description }}</span></p>
												<p class="card-text"><a href="{{ cake_card.id }}" target="_blank">Заказать</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</article>

		<article class="row pt-header text-center d-flex justify-content-center">
			<h2 class="font_Gogh fs_40 cake_blue text-center mb-5">Оплата и доставка</h2>
			<div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
				<div class="d-flex align-items-center" style="height: 120px">
					<img src="{% static 'img/card.svg' %}" alt="">
				</div>
				<span class="cake_blue mt-4 fw-lighter">100% предоплата</span>
				<p class="cake_grey mt-3">Оплата осуществляется банковской картой или в нашем ресторане наличными</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
				<div class="d-flex align-items-center" style="height: 120px">
					<img src="{% static 'img/deliv.svg' %%}" alt="">
				</div>
				<span class="cake_blue mt-4 fw-lighter">Доставка по Москве</span>
				<p class="cake_grey mt-3">Готовый заказ доставят по адресу в заявке с 10:00 до 23:00 в пределах МКАД</p>
			</div>
			<div class="d-flex justify-content-center">
				<a href="#step3" class="btn text-white rounded-pill mt-3 shadow-none cake__button cake__bg_pink">Оформить заказ</a>
			</div>
		</article>
	</div>
</main>
{% endblock %}
