{% extends "base.html" %}
{% load static %}
{% block title %}
	<title>Тортики</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<main>
	<div class="container mt-header">
        <aside class="modal fade" id="RegModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RegModalLabel" aria-hidden="true">
		</aside>
        <article class="row position-relative">
            <div class="content-section mb-400">
                <form method="POST" class='form-group' style="width: 30vw;">
                    {% csrf_token %}
                    <p>Bitlink:<br> <input name="bitlinky" /></p>
                    <button class="btn btn-outline-info" type="submit">Посмотреть статистику</button>
                </form>
                <p>Количество просмотров: {{ clicks_quantity }}</p>
            </div>
        </article>
    </div>
</main>
{% endblock content %}
